@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  background: #f9f9fb;
  color: #242424;
}
a {
  text-decoration: none;
  color: inherit;
}
